@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body{
    margin: 0;
    font-family: 'Montserrat';
    background: rgba(252, 201, 36, 0.8);
    font-size: 18px;
    height: 100vh;
}

.container{
    margin: 0 auto;
    text-align: center;

    .logo{
        width: 150px;
    }

    h1{
        margin:1em 0;
    }

    p{
        line-height: 1.7rem;
        
    }

    .left{
        // background: linear-gradient(160deg, #601df7 0%, #8800ff 100%);
        background: #0b2f4a;
        padding: 1em;

        p, h1 {
            color: white;
        }
    }

    .right{
        margin: 3em;
        padding: 1em;

        p, a{
            font-weight: bold;
            text-decoration: none;
            color: #353535;
            padding: 0px 10px 10px 10px;
            display: block;
        }

        
    }

    a:hover {
        
        background-color: white;
    }

    a:active {
        color: white;
        background: #353535;
    }
    
    .light {
        color: rgba(255,255,255, 0.7) !important;
        margin-top: 2em;
    }
}


@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }

    button {
        width: 60% !important;
    }

    input {
        width: calc(60% - 1em) !important;
    }
}

@media only screen and (min-width: 1024px) {
    .logo{
        margin: 1em 0;
    }

    p{
        line-height: 1.7em !important;
    }

    .inner {
        display: grid;
        grid-template-columns: 70% auto;

        .left {
            text-align: left;
            padding: 0 2em;
            height: 100vh;
            display: grid;

            .content{
                padding: 0 3em;
            }

            h1 {
                margin: 0;
                font-size: 2.4em;

                span{
                    display: block;
                }
            }
        }

        .right{
            text-align: left;
            align-self: center;
            padding: 0 2em 1.5em;
            justify-self: center;
            margin: 0;
            
        }

        input{
            width: calc(100% - 1em) !important;
            margin: 1em 0;
        }

        button{
            width: 100% !important;
        }
    }

    .proto-container {
        clip-path: inset(0 30% 0 0);
        position: absolute;
        top: 23%;
        height: 70%;
        z-index: 0;
        width: 100%;
        pointer-events: none;

        .proto {
            border: 5px solid rgba(255,255,255, .1);
            width: 19%;
            height: 80%;
            float: left;
            margin-left: 1em;
            transform: translateX(10%);
        }
    }

}

@media only screen and (min-width: 1600px) {
    //body {
        //font-size: 222px;
    //}

    .content {
        padding: 0 6em !important;
    }

    .right {
        padding: 0 !important;
    }
}
